section {
    padding: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    justify-items: center;

}

#bookList {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(415px, 1fr)); // cards will expand as much as maximum width.
    grid-gap: 16px;
    flex-direction: row-reverse;
    list-style: none;
    margin-block-start: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    //stylign to look like a book
    li {
        padding: 1em;
        margin-left: 10px;
        margin-bottom: 10px;
        background: rgb(255, 246, 213);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        position: relative;
        box-shadow: 0 5px 5px rgb(22, 22, 22, 0.4);
        border-left-color: rgb(69, 0, 0);
        border-left-width: 20px;
        border-left-style: groove; 
    }

    li button {
        font-size: 20px;
        padding: 4px;
        margin-right: 10px;
    }

    li img {
        width:20px;
    }

}

@media screen and (max-width: 500px) {
    ul {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    li {
        width:70%;
    }
}