html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

main section h1 {
  font-size: 100px;
}
main section p {
  color: green;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  width: 20%;
  left: 40%;
}

/* The popup form - hidden by default --> works on iphone, but off centre on desktop */
.form-popup {
  display: none;
  position: absolute;
  width: 350px;
  top: 30%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.form-row > label {
  width: 100px;
}

.form-row > input,
.form-row > select {
  padding: 0.5em;
  flex-grow: 1;
}

/* Full-width input fields 
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something 
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
*/
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: white;
  color: green;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: relative;
  right: 240px;
  margin-bottom: 10px;
}
.form-container .btn:hover, .form-container .open-button:hover {
  opacity: 1;
}
.form-container .cancel:hover {
  opacity: 1;
  color: green;
}