html {
  height: 100%;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* used chatgpt to help create the header - specificlally having the image behind the text and with a darker overlay */
header {
  position: relative;
  height: 100vh;
  width: 100%;
  justify-content: center;
  background: url("library-header.jpg") center/cover no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: left;
  color: #fff;
  padding-bottom: 5px;
}
header header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
header h1 {
  font-size: 55px;
  margin-left: 470px;
  margin-bottom: 100px;
  top: 350px;
  padding: 0;
  position: relative;
  z-index: 1;
  width: 100%;
}

/* Button used to open the contact form - */
.open-button {
  margin-left: 100px;
  top: 300px;
  color: maroon;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-size: 20px;
  border-radius: 4px;
  background-color: rgb(255, 246, 213);
}

.open-button:hover {
  box-shadow: 0 5px 5px rgba(255, 246, 213, 0.4);
}

footer {
  padding: 10px;
  background-color: rgb(22, 22, 22);
  font-size: 20px;
  color: #fff;
  align-items: center;
}

/* responsiveness - iphone SE */
@media screen and (max-width: 500px) {
  html {
    overflow-x: hidden;
  }
  header {
    padding: 0;
  }
  header h1 {
    font-size: 20px;
    margin-left: 43px;
    top: 250px;
  }
  .open-button {
    font-size: 10px;
    top: 200px;
    margin-left: 0px;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  top: 200px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 500px;
  margin: auto;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: rgb(255, 246, 213);
  color: black;
}

/* Set a style for the submit/login button */
.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: rgb(255, 246, 213);
  font-family: Arial, Helvetica, sans-serif;
  /* Full-width input fields */
  /* When the inputs get focus, do something */
}
.form-container h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.form-container .form-row {
  display: flex;
  padding: 5px;
}
.form-container .form-row > label {
  width: 100px;
}
.form-container input[type=checkbox] {
  padding: 0.5em;
  flex-grow: 1;
  margin-left: -371px;
  border: 0.15em solid #000;
  border-radius: 0.15em;
}
.form-container input[type=range] {
  width: 100%;
}
.form-container input[type=text], .form-container select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-container input[type=date] {
  width: 47%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-container input[type=text]:focus, .form-container select:focus, .form-container input[type=date]:focus {
  background-color: #ddd;
  outline: none;
  border: 2px solid maroon;
  border-radius: 4px;
}
.form-container .btn {
  background-color: maroon;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}
.form-container .cancel {
  background-color: rgb(22, 22, 22);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}
.form-container .btn:hover {
  box-shadow: 0 5px 5px rgba(128, 0, 0, 0.4);
}
.form-container .cancel:hover {
  box-shadow: 0 5px 5px rgba(22, 22, 22, 0.4);
}

/* We use display: flex to create a row of stars, otherwise, the stars will appear vertically and inline (if that's what you want by all means go ahead) */
.rating {
  display: flex;
}

/* responsiveness - iphone SE */
@media screen and (max-width: 500px) {
  .form-popup {
    width: 353px;
    top: 0px;
  }
  .form-container {
    margin: 0px;
  }
  .form-container input[type=checkbox] {
    padding: 0.5em;
    flex-grow: 1;
    margin-left: -270px;
  }
}
section {
  padding: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: center;
  justify-items: center;
}

#bookList {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(415px, 1fr));
  grid-gap: 16px;
  flex-direction: row-reverse;
  list-style: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  padding: 0;
}
#bookList li {
  padding: 1em;
  margin-left: 10px;
  margin-bottom: 10px;
  background: rgb(255, 246, 213);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  box-shadow: 0 5px 5px rgba(22, 22, 22, 0.4);
  border-left-color: maroon;
  border-left-width: 20px;
  border-left-style: groove;
}
#bookList li button {
  font-size: 20px;
  padding: 4px;
}

@media screen and (max-width: 500px) {
  ul {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  li {
    width: 70%;
  }
}